body {
    color: #5a5a5a;
}

h1 {
    font-size: 219%;
    font-weight: 613;
}

h2 {
    font-size: 180%;
}

img {
    max-height: 100px;
}

.d-flex {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    font-size: 24pt;
}
