{% extends "devel/main.html" %}
{% load static %}
{% block content %}
<div id="cert" class="cert-container bg-gradient-to-r from-blue-100 to-blue-400">
    <article>
        <h2 class="py-4 text-center text-blue-800 hover:text-red-500">
            Some "certifications" that I have earned in the learning apps.<br>
            It doesn’t approve my knowledge, but it means I’m not stupid for coding!<br>
            Just need a more practice, for practice I need more time...
        </h2>
    </article>

    <div class="grid grid-cols-4 gap-4">
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/C_certificate.jpg' %}"
                    alt="C"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">C</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/CPlusPlus_certificate.png' %}"
                    alt="C++"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">C++</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/CSharp_certificate.png' %}"
                    alt="C#"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">C#</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/coding-marketers_certificate.jpg' %}"
                    alt="Coding for Marketers"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Coding for Marketers
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/HTML_certificate.jpg' %}"
                    alt="HTML"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">HTML</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/CSS_certificate.jpg' %}"
                    alt="CSS"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">CSS</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/JavaScript_certificate.png' %}"
                    alt="JavaScript"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">JavaScript</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/jQuery_certificate.jpg' %}"
                    alt="jQuery"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">jQuery</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/react_certificate.jpg' %}"
                    alt="React + Redux"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">React + Redux</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Responsive-Web-Design_certificate.jpg' %}"
                    alt="Responsive Web Design"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Responsive Web Design
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/web-dev-basics_certificate.jpg' %}"
                    alt="Web Development Fundamentals course"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Web Development Fundamentals course
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/PHP_certificate.jpg' %}"
                    alt="PHP"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">PHP</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/SQL_certificate.png' %}"
                    alt="SQL"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">SQL</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/data-science_certificate.png' %}"
                    alt="Data Science"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Data Science</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Python-for-Beginners_certificate.png' %}"
                    alt="Python for Beginners"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Python for Beginners
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Python_certificate.png' %}"
                    alt="Python Core"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Python Core</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Intermediate_Python_certificate.png' %}"
                    alt="Intermediate Python"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Intermediate Python
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Python-for-Data-Science_certificate.png' %}"
                    alt="Python for Data Science"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Python for Data Science
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Python-Data-Structures_certificate.png' %}"
                    alt="Python Data Structures"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Python Data Structures
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Python-for-Finance_certificate.jpg' %}"
                    alt="Python for Finance"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Python for Finance
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/machine-learning_certificate.png' %}"
                    alt="Machine Learning"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Machine Learning</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/GameDev-with-JavaScript_certificate.jpg' %}"
                    alt="Game Development with JavaScript"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Game Development with JavaScript
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/kotlin_certificate.png' %}"
                    alt="Kotlin"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Kotlin</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Java_certificate.png' %}"
                    alt="Java"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Java</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Ruby_certificate.jpg' %}"
                    alt="Ruby"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Ruby</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/r-course_certificate.png' %}"
                    alt="R"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">R</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/go_certificate.png' %}"
                    alt="Go"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Go</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/fullstack_certificate.jpg' %}"
                    alt="Angular + NestJS"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Angular + NestJS</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/SoloLearn/Swift_certificate.jpg' %}"
                    alt="Swift 4 course"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Swift 4 course</p>
        </div>
    </div>

    <hr>

    <div class="grid grid-cols-4 gap-4">
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Coding_Fundamentals_1.png' %}"
                    alt="Coding Fundamentals 1"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Coding Fundamentals 1
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Coding_Fundamentals_2.png' %}"
                    alt="Coding Fundamentals 2"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Coding Fundamentals 2
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Intro_to_Interviewing.png' %}"
                    alt="Intro to Interviewing"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">
                Intro to Interviewing
            </p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Array_Methods.png' %}"
                    alt="Array Methods"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Array Methods</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Animations_1.png' %}"
                    alt="Animations 1"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Animations 1</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Animations_2.png' %}"
                    alt="Animations 2"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Animations 2</p>
        </div>
        <div class="justify-self-center text-center my-4">
            <div class="flex justify-center">
                <img
                    src="{% static 'images/GrassHopper/Debugging_Code.png' %}"
                    alt="Debugging Code"
                    width="200"
                    class="border border-4 border-primary rounded"
                />
            </div>
            <p class="text-lg text-gray-700 font-bold">Debugging Code</p>
        </div>
    </div>
</div>

{% endblock content %}