{% extends "devel/main.html" %}
{% load static %}

{% block cv_data %}

<div id="cv" class="fade_main">
    <div class="main_details">

        <div id="headshot" class="quick_fade">
            <img alt="Mihaly Nyilas" src="{% static 'images/mny.png' %}">
        </div>

        <div id="name">
            <h1 class="quick_fade delay_two">Mihaly Nyilas</h1>
            <h2 class="quick_fade delay_three">"IT intern"</h2>
            <h2 class="quick_fade delay_three">"program designer"</h2>
            <h2 class="quick_fade delay_three">"computer science seedling"</h2>
            <a class="pt-3" href="https://dabzse.github.io" target="_blank">one portfolio on GitHub</a>
            <h3 class="quick_fade delay_three">let this be enough for now</h3>
        </div>
        <div id="contact_details" class="quick_fade delay_four">
            <h3>Some contact details</h3>
            <ul>
                <li>
                    <a class="pt-3" href="mailto:mihaly.nyilas.work+py__SMAP__TA__DETELE__EM__gmail.com">e-mail address</a>
                </li>
                <li><a href="http://dabzse.net" target="_blank">MY WEBSITE</a></li>
                <li>phone number is not public!<br>please, respest it! (if you have it)</li>
            </ul>
            <hr>
            <ul>
                <li>feel free to ask me: I will answer<br>there is my e-mail address</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="quick_fade delay_five" id="area_main">
        <section>
            <article>
                <div class="section_title">
                    <h1>Some personal, important and useful information about me</h1>
                </div>
                <div class="section_content">

I am security, development-improvement and quality-oriented, who is good at logical tasks and helps his superiors, colleagues, team members/team.<br>
I have more than 15 years of experience in repairing computers, I am interested in the software part, but I also did hardware works too.<br>
After replacing the hardware, if it was necessary, I reached for the software part and got it to work.<br>
It also happened more than once that important data was/were accidentally deleted from the HDD/USB. I brought it back. I also rescued what was still possible from a dead HDD/USB (if the USB is not "short-circuited"!). There were also cases where someone better than me couldn't cope with a problem for hours. He didn't believe that I would succeed. Not even in finding the source of the problem! Since I didn't know what he was looking at and what he wasn't looking at, I indicated the origin of the problem relatively quickly, within minutes.<br>Similar situations arose elsewhere, I won't go into detail because I don't remember them all. On the other hand, yes, that I can find it, make it, fix it, or give advice on what is worthwhile.<br>
Most of all, I would like to validate this knowledge, in the long term, and make use of it by learning to program excellently.<br>
However, I already have several years of machine handling and installation behind me.<br><hr><br>
I follow ethical and professional standards during the execution of tasks.<br>
I inform my supervisor about the information and progress related to the task entrusted to me on the requested regularity.<br><br>
Others have said about me: I am too good at doing simple tasks. They are right!<br>
I have a great, strong and deep understanding of even complex things. Maybe not right away, maybe I need some time and a little more practice to see things better, but I'm learning quickly and accurately! Some people think of this precise learning as "correction", <strong><em>YET IT'S NOT!</em></strong> Only, if a person learns something wrong, it takes a long time, sometimes years, to correct it in oneself.<br>
<details><summary>I am able to work under pressure and within deadlines.</summary>
<p>(my passion for CHESS helps a lot in this; although I haven't played much in recent years... but the so-called blind-chess and simultaneous (only 2 opponents wanted to play) also worked; so I can pay attention to several sides, just don't disturb me. I have to practice it again, and then I can also talk about a third thing, even in another language)</p></details>
Hardworking, motivated / self-motivated husband and family man.

                </div>
            </article>
            <div class="clear"></div>
        </section>
        <hr>
        <section>
            <div class="section_title">
                <h1>"Work experience"</h1>
            </div>
            <div class="section_content">
                <article>
                    <h2>Self education</h2>
                    <p class="sub_details">"Freelancer" and I did it while working somewhere else</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Linux</strong>: Fedora, Debian, CentOS, Ubuntu, Linux Mint, SuSE, KALI</li>
                        <li class="list-group-item">practicing system administration on virtual machines</li>
                        <li class="list-group-item">website building: HTML5/CSS3/JS; PHP, MySQL | MariaDB</li>
                        <li class="list-group-item">website building: Python-Django</li>
                        <li class="list-group-item">website building: Laravel</li>
                        <li class="list-group-item">Bootstrap, TailwindCSS</li>
                    </ul>
                </article>
                <hr>
                <article>
                    <h2>Computer skills</h2>
                    <p class="sub_details">I'm sure I have to update some knowledge</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Linux/Windows: installing, setting up, management/handling, administration</li>
                        <li class="list-group-item">office programpacks (LibreOffice, Microsoft Office)</li>
                        <li class="list-group-item">website building (PHP/MySQL/HTML5/CSS3/ with some JS; Python-Django; Laravel)</li>
                        <li class="list-group-item">I have used CMS'
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">WordPress and Drupal knowledge has been updated in the university</li>
                            </ul>
                        </li>
                        <li class="list-group-item">I have used some frameworks; composer, npm, yarn</li>
                        <li class="list-group-item">I have used GIT, SVN, HG programs: both with GUI and CLI</li>
                        <li class="list-group-item">I have started learning the depths of Python3</li>
                        <li class="list-group-item">C# programming language because of the university</li>
                        <li class="list-group-item">virtual machines: gnome-boxes, VirtualBox, VMWare, KVM/QEmu</li>
                        <li class="list-group-item">some experience using IDEs</li>
                        <li class="list-group-item">in the last time I generally use:
                            <a href="https://vscodium.com" target="_blank" title="VS Codium" rel="noopener noreferrer">VSCodium</a>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="clear"></div>
        </section>
        <hr>
        <section>
            <div class="section_title">
                <h1>Skills,<br>Abilities</h1>
            </div>
            <div class="section_content">
                <ul class="key_skills">
                    <li>Linux</li>
                    <li>flexibility</li>
                    <li>enthusiastic</li>
                    <li>reliable</li>
                    <li>honest</li>
                    <li>prudent</li>
                    <li>wise</li>
                    <li>clever</li>
                    <li>creative</li>
                    <li>persistent</li>
                    <li>monotony tolerance</li>
                    <li>accurate</li>
                    <li>systematic</li>
                    <li>good team player</li>
                    <li>problem solving skills</li>
                    <li>a constant and fast learner</li>
                    <li>logical mind with great memory</li>
                    <li>keeping up-to-date knowledge</li>
                    <li>management of computer controlled systems</li>
                    <li>scheduled maintenance on my works</li>
                </ul>
            </div>
            <div class="clear"></div>
        </section>
        <hr>
        <section>
            <div class="section_title">
                <h1>Studies</h1>
            </div>
            <div class="section_content">
                <article>
                    <h2>Eszterházy Károly {Catholic} University<br>2020 &mdash; 2023</h2>
                    <p class="sub_details">Graduation in progress: only final exam is left (June 19, 2023)</p>
                    <p class="sub_details">possible it will give me: professional qualification in adult education</p>
                    <p>
It is based in Eger, but I was expanding the range of students at the Campus Jászberény. In adult education vocational training (FOSZ), Program Designer IT [Developer] specialization.<br><br>
During the studies its name has been changed.<br><br>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Webprogramming
                            <ul class="list-group">
                                <li class="list-group-item">HTML5, CSS3, JavaScript</li>
                                <li class="list-group-item">PHP 7/8, MySQL | MariaDB:
                                    <ul class="list-group">
                                        <li class="list-group-item">object-oriented solutions</li>
                                        <li class="list-group-item">with associative arrays</li>
                                        <li class="list-group-item">with PDO connection</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">Laravel 8 (+ SQLite)</li>
                                <li class="list-group-item">VueJS 2</li>
                            </ul>
                        </li>
                        <li class="list-group-item">Python language</li>
                        <li class="list-group-item">C# language</li>
                        <li class="list-group-item">Network knowledge (PacketTracer, Cisco)</li>
                        <li class="list-group-item">Data Structures and Algorithms</li>
                        <li class="list-group-item">Database Systems</li>
                        <li class="list-group-item">Virtualization</li>
                    </ul>
                    <br>just to mention a few things
                </article>
                <hr>
            </div>
            <div class="clear"></div>
        </section>
    </div>
    <div id="footer">
        Copyright &copy; <strong>@dabzse &mdash; <em>&#123;&#123; MNY &#125;&#125;</em> &mdash;</strong> 2021 &mdash; 2023
    </div>
</div>

{% endblock cv_data %}
