{% extends "devel/main.html" %}

{% block accordion %}
    {% include 'devel/inc.accordion.html' %}
{% endblock accordion %}

{% block content %}

<h2>As you can see in the flex-box inside the "whoami" section,<br>salesforce deleted my heroku page,<br>but there I didn’t use any database...</h2>
<h3>
    In Hungarian is available, but not the latest one.<br>
    You can find it here: <a href="https://dabzse.github.io" target="_blank">https://dabzse.github.io</a>
</h3>
<h2>I will make an English version, but don’t ask me when. Possible in the near future.</h2>

{% endblock content %}
