{% extends "devel/main.html" %}

{% block whoami %}
    {% include 'devel/inc.whoami.html' %}
{% endblock whoami %}

{% block content %}

<div class="col-lg-8 col-xl-6">
    <div class="text-center">
        <h2 class="fw-bolder">Where and when can YOU reach me?</h2>
        <p>I’m so sorry about this, but maybe I can’t respond immediately to your message! The reason is very simple: this is not my 0-24 job. At the moment only a hobby to have some more practice. Maybe you have to wait some hours, or even just few days. Please, be patient as I am. I don’t have too much free time because of some reasons... but will do my best to respond you as soon as possible.</p>
        <h3>
            Mostly interested in python, php, using database. There is a chance to some other languages, but not all of them.<br>Feel free to ask me!
        </h3>
    </div>
</div>

<div class="row gx-5">
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">E-MAIL</div>
                <a class="text-decoration-none link-dark stretched-link" href="mailto:dabzse.net+py__SMAP__TA__DETELE__EM__gmail.com">
                    <h5 class="card-title mb-3">Possible the best choice</h5>
                </a>
                <p class="card-text mb-0">In general, I better like e-mail and prefer to use it.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">Git*</div>
                <h5 class="card-title mb-3">Git[*] sites</h5>
                <div class="card-text mb-0">
                    <ul>
                        <li><a class="devellinks" href="https://github.com/dabzse" target="_blank">GitHub</a></li>
                        <li><a class="devellinks" href="https://gitlab.com/dabzse" target="_blank">GitLab</a></li>
                        <li><a class="devellinks" href="https://jira.atlassian.com/" target="_blank">Jira (Atlassian)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">Microsoft services</div>
                <h5 class="card-title mb-3">Microsoft services</h5>
                <div class="card-text mb-0">
                    <ul>
                        <li><a class="devellinks" href="https://teams.microsoft.com/">Teams</a></li>
                        <li><a class="devellinks" href="https://discord.com/users/704747410575982662">Discord</a></li>
                        <li><a class="devellinks" href="skype:dr.dabzse?chat">Skype</a></li>
                        <li><a class="devellinks" href="https://linkedin.com/in/dabzse" target="_blank">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gx-5">
    
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">Development platforms</div>
                <h5 class="card-title mb-3">Development platforms</h5>
                <div class="card-text mb-0">
                    <ul>
                        <li><a class="devellinks" href="https://slack.com/" target="_blank">Slack</a></li>
                        <li><a class="devellinks" href="https://clickup.com/" target="_blank">ClickUp</a></li>
                        <li><a class="devellinks" href="https://asana.com" target="_blank">Asana</a></li>
                        <li><a class="devellinks" href="https://wrike.com" target="_blank">Wrike</a></li>
                        <li><a class="devellinks" href="https://trello.com" target="_blank">Trello (Atlassian)</a></li>
                        <li><a class="devellinks" href="https://monday.com" target="_blank">monday.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">JetBrains platforms</div>
                <h5 class="card-title mb-3">JetBrains platforms</h5>
                <div class="card-text mb-0">
                    <ul>
                        <li><a class="devellinks" href="https://www.jetbrains.com/youtrack/" target="_blank">YouTrack</a></li>
                        <li><a class="devellinks" href="https://www.jetbrains.com/space/" target="_blank">Space</a></li>
                        <li><a class="devellinks" href="https://www.jetbrains.com/datalore/" target="_blank">Datalore</a></li>
                        <li><a class="devellinks" href="https://www.jetbrains.com/qodana/" target="_blank">Qodana</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">Flock</div>
                <h5 class="card-title mb-3">Others</h5>
                <div class="card-text mb-0">
                    <ul>
                        <li><a class="devellinks" href="https://flock.com" target="_blank">Flock</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gx-5">

    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-4">Phone number based apps</div>
                <h5 class="card-title mb-3">Phone number based apps</h5>
                <p class="card-text mb-0">I'm still thinking about it, will I use these or not... so, be patient!</p>
                <div class="card-text mb-0">
                    <ul>
                        <li>Signal</li>
                        <li>Telegram</li>
                        <li>Viber</li>
                        <li>WhatsApp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
