{% extends "devel/main.html" %}
{% load static %}

{% block whoami %}
    {% include 'devel/inc.whoami.html' %}
{% endblock whoami %}

{% block content %}

<h2>I thought a lot of what do I have or need to write here...</h2>
<p>
    Finally I have decided: I will update this little part of my "dev" website when I will complete my final exam at the university for that course which I have started in September 2020. So I made it!
</p>
<h3>Final Exam's Date: June 19, 2023</h3>
<h3>Training Name: Computer Science</h3>
<h3>Level: Higher Education Vocational Training</h3>
<h3>Mode: Correspondence Training</h3>
<h3>Programme Type: Accredited Vocational Higher Education</h3>
<br><br><hr>
<p>Upcoming planned news: after the graduation ceremony (July 8, 2023) some photos from the event.</p>
{% endblock content %}
