<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'home' %}">:: 111 11 100 ::</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navibar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navibar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'devel' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cv' %}">CV</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cert' %}">Certifications</a></li>
                <li class="nav-item"><a class="nav-link disabled">[WiP :: CC]</a></li>
                <li class="nav-item"><a class="nav-link disabled">[WiP :: AFF+P]</a></li>
                <li class="nav-item"><a class="nav-link disabled">[WiP :: CH]</a></li>
            </ul>
        </div>
    </div>
</nav>
